In [68]:
%pwd

'/Users/sven/gh/fullstack-ml-academy-homework/notepads/05-Explorative-Datenanalyse'

In [69]:
import pandas as pd
import numpy as np

In [70]:
pd.options.display.float_format = '{:.0f}'.format
data_all = pd.read_csv("../../data/Census-Datensatz.csv", sep=';', skipinitialspace=True)
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [71]:
description = data_all.describe()
print(f"data_all.description={description}\n")

data_all.description=        age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
count 32561   32561          32561         32561         32561           32561
mean     39  189778             10          1078            87              40
std      14  105550              3          7385           403              12
min      17   12285              1             0             0               1
25%      28  117827              9             0             0              40
50%      37  178356             10             0             0              40
75%      48  237051             12             0             0              45
max      90 1484705             16         99999          4356              99

In [72]:
print(f"data_all.head={data_all.head()}\n")

data_all.head=   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [76]:
numeric_or_ordinal_columns = ['age', 'fnlwgt', 'capital-gain', 'capital-loss', 'hours-per-week']
data = data_all[numeric_or_ordinal_columns].sort_values(by='capital-gain', ascending=False)
data_int = data.astype('int32')
# data_int.describe(percentiles=[.05, .10, .25, .5, .75, .90, .95, .96, .97, .98, .99]).apply('{:.0f}'.format)
# raises error with message unsupported format string passed to Series.__format__
# so instead we use pd.options.display.float_format = '{:.0f}'.format right after importing pandas
data_int.describe(percentiles=[.05, .10, .25, .5, .75, .90, .95, .96, .97, .98, .99])

        age  fnlwgt  capital-gain  capital-loss  hours-per-week
count 32561   32561         32561         32561           32561
mean     39  189778          1078            87              40
std      14  105550          7385           403              12
min      17   12285             0             0               1
5%       19   39460             0             0              18
10%      22   65716             0             0              24
25%      28  117827             0             0              40
50%      37  178356             0             0              40
75%      48  237051             0             0              45
90%      58  329054             0             0              55
95%      63  379682          5013             0              60
96%      65  397685          7298          1590              60
97%      67  416890          7688          1848              65
98%      69  448337         14084          1902              70
99%      74  510072         15024          1980              80
max      90 1484705         99999          4356              99